body {
    font-family: "Verdana", Geneva, sans-serif;
}

a, a:visited, a:hover {
    text-decoration: none;
    color: #FFFFFF;
}

.font-white {
    color: #FFFFFF;
}

.social-icon {
    margin-left: 0.2em;
    margin-right: 0.2em;
}

#particles-js {
    position: fixed;
    z-index: 50;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.top-of-particle {
    z-index: 100;
    position: relative;
}